html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	padding: 5px 15px;
	background-color: #fff7df;
}

.header .userInfo {
	text-align: right;
	margin: 0;
	font-size: 1rem;
}

.userInfo .name {
	border-right: 1px solid;
	padding-right: .5em;
	margin-right: .5em;
}

.userInfo .logout {
	font-weight: bold;
}

.logout{
	cursor: pointer;
}

.caseContainer {
	flex:1;
	margin: 0;
	width: 100%;
}

.caseContainer .form {
	height: 100%;
	margin: 0;
}

.caseContainer .reason,
.caseContainer .case {
	background-color: #fffdf6;
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: 0;
}

.reason select,
.case textarea{
	flex: 1;
}

.reason .nextCase {
	text-align: right;
	margin-top: 15px;
}

.alert {
	margin:0;
}