html,
body {
  background: #fff7df;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
	min-width: 50%;
}

.header {
	text-align: center;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #dbdbdb;
}

.header img {
	max-height: 2.5em;
}

.header h4 {
	margin-top: .5em;
}

.errorMessage{
	color: red;
	text-align: center;
	display: none;
}